@charset "utf-8";
/* 초기화 */

 * { margin: 0; padding: 0 ;}
li { list-style: none; }
a { text-decoration: none; color: #000; }
address { font-style: normal; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
img { border: 0; }
/* 폰트 */

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#gnb { font-family:'Cafe24Ssurround'; }
/* 공통적용 */

body {
      min-width: 1280px;
      background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
      background-position: 0 0, 10px 10px;
      background-size: 20px 20px;
      }

/* 헤더 */
#header { position: relative; width: 1000px; height: 187px; margin: 0 auto; }
#header h1 { width: 130px; padding: 40px 0 0 0; }
#header h1 a { display: block; height: 70px; text-indent: -5000px;
              background: url(../images/mainLogo.png) no-repeat; }

/* 멤버쉽네비               */
#membership { position: absolute; top: 18px; right: 20px;  }
#membership ul li { position: relative; float: left; }
#membership ul li a { color: #333; font-size: 12px; font-weight: bold; }
.login { padding-left: 20px; }
.login:after { content: "";
                                  position: absolute; top: 7px; right: -10px;
                                  height: 11px; border-right: 1px solid #000;
                                  opacity: 0.5}
.goLogin::before { content: "";
                                  position: absolute; top: 7px; left: 10px;
                                  height: 11px; border-right: 1px solid #000;
                                  opacity: 0.5}

/* gnb*/
#gnb { position: absolute; top: 80px; right: 40px; }
#gnb ul li { float: left; margin-left: 20px; }
#gnb ul li a { padding: 0 10px 10px;
              text-transform: uppercase;
              color: #333;
              font-size: 22px;
              }
#gnb ul li a:hover { font-weight: bold; color: #007040;
                     border-top: 6px solid #007040; padding-top: 6px;
                     transition: 0.5s;
                     }
.snb { position: absolute; top: 100px; left: 0; width: 500px; display: none; }
.snb > li { float: left; line-height: 70px; margin-right: 50px;}

/* 슬라이더 */
.videoWrap { }
.videoHeight { width: 100%; height: 100vh; background: #fff; }
.videoHeight video { width: 100%; height: 100vh; object-fit : cover; opacity: 0.9; }
