@charset "utf-8";
/* 초기화 */

 * { margin: 0; padding: 0 ;}
li { list-style: none; }
a { text-decoration: none; color: #000; }
address { font-style: normal; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
img { border: 0; }
/* 폰트 */

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#gnb { font-family:'Cafe24Ssurround'; }
dt { font-family:'Cafe24Ssurround'; }
#section { font-family:'Cafe24Ssurround'; }
#sliderList { font-family:'Cafe24Ssurround';}
.festiver { font-family:'Cafe24Ssurround'; }
/* 공통적용 */

body {
      width: 100%;
      background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
      background-position: 0 0, 10px 10px;
      background-size: 20px 20px;
      border-top: 15px solid #007040;
      }

/* 헤더 */
#header { position: relative; width: 1000px; height: 130px; margin: 0 auto; }
#header h1 { width: 130px; padding: 40px 0 0 0; }
#header h1 a { display: block; height: 70px; text-indent: -5000px;
              background: url(../images/mainLogo.png) no-repeat; }

/* 멤버쉽네비               */
#membership { position: absolute; top: 18px; right: 20px;  }
#membership ul li { position: relative; float: left; }
#membership ul li a { color: #000; font-size: 12px; font-weight: bold; }
.login { padding-left: 20px; }
.login:after { content: "";
                                  position: absolute; top: 7px; right: -10px;
                                  height: 11px; border-right: 1px solid #000;
                                  opacity: 0.5}
.goLogin::before { content: "";
                                  position: absolute; top: 7px; left: 10px;
                                  height: 11px; border-right: 1px solid #000;
                                  opacity: 0.5}

/* gnb*/
#gnb { position: absolute; top: 80px; right: 40px; }
#gnb ul li { float: left; margin-left: 20px; }
#gnb ul li a { padding: 0 10px 10px;
              text-transform: uppercase;
              color: #000;
              font-size: 22px;
              }
#gnb ul li a:hover { font-weight: bold; color: #007040;
                     border-top: 6px solid #007040; padding-top: 6px;
                     transition: 0.5s;
                     }
.snb { position: absolute; top: 100px; left: 0; width: 500px; display: none; }
.snb > li { float: left; line-height: 70px; margin-right: 50px;}

/* 슬라이더 */

.videoWrap { }
.videoHeight { width: 100%; height: 100vh; background: #fff; overflow: hidden; margin: 0px auto; position: relative; }
.videoHeight video { width: 100%; height: 100vh; object-fit : cover; opacity: 0.9;  }
.videoMenu p { text-align: center; font-size: 30px; color: #fff; z-index: 1000; position: absolute; top:0; left:0;

 }
.videoHeight p:nth-child(1) { top: 650px; left: 500px; background-image: url("images/chocodounut.png" no-repeat / cover); }
.videoHeight p:nth-child(2) { top: 650px; left: 650px; }
.videoHeight p:nth-child(3) { top: 650px; left: 800px; }
.videoHeight p:nth-child(4) { top: 650px; left: 950px; }
/* 메인시작 */
/* 메인 첫번째 */
#main1 { background-color: #fff; width: 100%; height: 100vh; border-top: 40px solid #00704a;
  background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
background-position: 0 0, 10px 10px;
background-size: 20px 20px;  }
#menuWrap { width: 100%; height: 800px; margin-top: 30px; }
.festiver { overflow: hidden; width: 800px; margin:0 auto; font-weight: bold; font-size: 40px;
            position: relative; }
.festiver:after { content: ''; display: block; width: 800px; height: 6px; position: absolute; bottom: -3px; left: 1px; background: #00704a; }
.festiver > div dl {width: 400px;}
.newMenu { width: 1400px; float: left; }
#newMenu1 { }
#newMenu2 { }
#newMenu3 { }
.font { font-size: 40px; }
.font ~ dd { font-size: 20px; }
.font1 { color: #ff3838; }
.menu1 dd { }
.menu2 dd { }
.menu3 { }

/* next, prev 버튼 */

/* 2번째 섹션 플러그인 */

/* 3 번째 섹션 */
#main3 { width: 100%; height: 100vh; border: 1px solid #000;
  background-color: #fff; width: 100%; height: 100vh; border-top: 40px solid #00704a;
  background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px; text-align: center; }
#section {  width: 1100px; height: 600px; border: 8px solid #00704a; text-align: center;
           margin: 250px auto ; font-size: 25px;
           font-weight: bold; background: #fff;
         }
#figureWrap { width: 100%;  }
#content figure {  font-size: 25px; width: 900px; height: 200px; margin-left: 50px; padding-left: 50px; }
#content p { width: 200px; }
#content div { width: 220px;  height: 200px; float: left; }



 /* 4번 섹션  */

#main4 { background-color: #fff; width: 100%; height: 100vh; border-top: 40px solid #00704a;
  background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
background-position: 0 0, 10px 10px;
background-size: 20px 20px;}
.alliance { width: 100%; height: 100vh; background: #cde1be; }
.alliance h4 { }
.alliance p { }
.alliance a { }
.service { }
.service dt { }
.service dt dd { }
/* 푸터 */

.footerWrap { background-color: #fff; width: 100%; height: 300px; border-top: 40px solid #00704a;
  background-image: radial-gradient(#cde1be 15%, transparent 0), radial-gradient(#cde1be 15%, transparent 0);
background-position: 0 0, 10px 10px;
background-size: 20px 20px;
}
#footer { }
.addrssWrap { }
.info { display: block;}
.info p { text-transform: uppercase; }
.security a { color: #00704a; font-weight: bold; text-decoration: underline;}
#footer { overflow: hidden; width: 720px; margin: 0 auto;
          padding: 23px 76px 20px 304px;
          background: url(../images/mainLogo.png) no-repeat 55px 23px; font-size: 15px; }

#footer .sns { height: 33px; float: right; }
#footer .sns li { width: 33px; height: 33px; float: left; margin-left: 17px; }
#footer .sns .facebook a { display: block; width: 33px; height: 33px; text-indent: -5000px;
                    background: url(../images/face_book.png) no-repeat; }
#footer .sns .twitter a { display: block; width: 33px; height: 33px; text-indent: -5000px;
                    background: url(../images/twitter.png) no-repeat;  }
